<!DOCTYPE html>
<html>
<head>
  {% load static %}
<title>Django_Book</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="index.html">DjangoBook</a></h1>
    </div>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <nav id="mainav" class="clear">
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li class="active"><a href="/books/">Home</a></li>
      <li><a href="/books/book/">레시피</a></li>
      <li><a href="/books/author">쉐프</a></li>
      <li><a href="/books/publisher/">맛집</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
{% block content %}
{% endblock %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="clear">
     <div id="copyright" class="clear">
    <!-- ################################################################################################ -->
    <p class="fl_right">by <a target="_blank" href="#" title="Django-Books">강북 쌍용교육센터 G강의장</a></p>
    <!-- ################################################################################################ -->
  </div>
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- JAVASCRIPTS -->
<script src="/static/layout/scripts/jquery.min.js"></script>
<script src="/static/layout/scripts/jquery.backtotop.js"></script>
<script src="/static/layout/scripts/jquery.mobilemenu.js"></script>
<script src="/static/layout/scripts/jquery.flexslider-min.js"></script>
</body>
</html>